.App {
  font-family: sans-serif;
  text-align: center;
}
.image-post {
  height: 250px;
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
